.dailyCurrent {
  overflow: auto;
}

.cardDaily {
  // background: url('./assets/mountain.jpg');
  background: url('./assets/mountain.jpg');
  justify-content: center;
  padding: 0.65rem;
  border-radius: 10px;

}